Flask==2.3.3
Flask-MySQLdb==1.0.1
Flask-CORS==4.0.0
Flask-Bcrypt==1.0.1
Flask-Mail==0.9.1
mysql-connector-python==8.1.0
Werkzeug==2.3.7
Pillow==10.0.1
numpy==1.24.3
stripe==6.6.0
PyYAML==6.0.1
torch==2.0.1
torchvision==0.15.2
matplotlib==3.7.2 